/*-----------------------------------------------------------------------------------

  

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html{overflow: hidden;overflow-y: auto;}
html, body {height: 100%;}
.floatleft {float:left !important;}
.floatright {float:right !important;}
.floatnone {float:none !important;}
.alignleft {text-align:left !important;}
.alignright {text-align:right !important;}
.aligncenter {text-align:center !important;}
.no-display { display:none; }
.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
a:focus, button:focus {outline:0px solid}
input:focus {box-shadow: 0; outline: 0}
textarea {box-shadow: 0; outline: 0}
img {
    max-width:100%;
    height:auto;
    border:0; 
    vertical-align:top;
}
.fix {overflow:hidden}
p { font-size: 16px;}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Raleway";
}
a {-webkit-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;text-decoration:none; color: #000}
a:hover {
    color: #4c4c4c;
    text-decoration: none;
}
a:active, a:hover, a:focus {outline: 0 none; text-decoration: none}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.clear{clear:both}
::-moz-selection {background: #b3d4fc; text-shadow: none}
::selection {background: #b3d4fc; text-shadow: none}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
::-webkit-input-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100)}
:-moz-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100)}
::-moz-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100)}
:-ms-input-placeholder {opacity: 1 !important;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100)}



body {
    color: #222222;
     font-family: "Raleway";
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    background: #fff
}
.btn-group {
	margin-left: 5px;
}
.container { width: 1200px}
.container, .row, .col-md-12, .col-md-10, .col-md-9, .col-md-8, .col-md-6, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .as-mainwrapper {
    transition: all 0.3s ease 0s
}
.section-margin {margin: 120px 0 140px 0}
.section-padding {padding: 120px 0}
.section-bottom-padding {padding: 0 0 120px 0}
.section-top-padding {padding: 120px 0 0 0}
.section-title {
    text-align: center;
    overflow: hidden;
    position: relative
}
.section-title h3 {
    color: #2d3e50;
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 10px;
    text-transform: uppercase
}
.section-title p {
    color: #000000;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 24px;
}
.section-title-wrapper { margin-bottom: 87px; position: relative;}
.section-title-wrapper:before {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 230px;
}
.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url("../img/icon/cap-dark.jpg") no-repeat scroll 0 0;
    bottom: -8px;
    color: #1bb4b9;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.white .section-title h3, .white .section-title p {color: #ffffff;}
.section-title-wrapper.white:before {background: #ffffff none repeat scroll 0 0;}
.section-title-wrapper.white2:before {background: #ffffff none repeat scroll 0 0;}
.white.section-title-wrapper:after {background: rgba(0, 0, 0, 0) url("../img/icon/cap-white.jpg") repeat scroll 0 0;}
.white2.section-title-wrapper:after {background: rgba(0, 0, 0, 0) url("../img/icon/cap-white2.png") repeat scroll 0 0;}
.carousel-style-one.owl-theme .owl-controls .owl-nav div {
    color: #2D3E50;
    display: inline-block;
    font-size: 60px;
    height: 60px;
    left: -50px;
    line-height: 59px;
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=100);
    padding: 0;
    position: absolute;
    text-align: center;
    top: 39.6%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 36px;
}
.carousel-style-one.owl-theme .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: -50px;
}
.latest-area:hover .carousel-style-one.owl-theme .owl-controls .owl-nav div {
    opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}
.dividers {border-top: 1px solid #ccc; }
.as-mainwrapper {
    position: relative;
}
.as-mainwrapper.wrapper-boxed {
    background-color: #ffffff;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
    float: none;
    margin: 0 auto;
    max-width: 1200px;
}
.main-content-wrapper, .wrapper-wide {
    background: #ffffff;
}
/*------Margin left-------*/
.ml-0 { margin-left: 0px }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
/*------Margin right-------*/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
/*------Margin Top-------*/
.mt-0 { margin-top: 0px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
/*------Margin Bottom-------*/
.mb-0 { margin-bottom: 0px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
/*------Padding left-------*/
.pl-0 { padding-left: 0px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
/*------Padding right-------*/
.pr-0 { padding-right: 0px }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
/*------Padding Top-------*/
.pt-0 { padding-top: 0px }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
/*------Padding Bottom-------*/
.pb-0 { padding-bottom: 0px }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-60 { padding-bottom: 60px }
.pb-70 { padding-bottom: 70px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.block {display: block}
/*----------------------------------------*/
/*  2. Header CSS
/*----------------------------------------*/
/*----------------------------------------*/
/*  2.1 Header Top
/*----------------------------------------*/
.header-top {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 16px;
    position: relative
}
.header-top:before, .about-area:before, .newsletter-area:before {
    content: "";
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 43%;
}
.header-top:after, .about-area:after, .newsletter-area:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -o-border-image: none;
        border-image: none;
    border-style: solid;
    border-width: 24px 10px;
    content: "";
    height: 5px;
    position: absolute;
    right: 43%;
    top: 10px;
    width: 0;
}
.header-top span {padding: 14px 0; display: inline-block}
.header-top-right > .content {
    display: inline-block;
    font-family: "Raleway";
    margin-left: 13px;
    padding-left: 17px;
    position: relative;
}
.header-top-right > .content > a {color: #fff}
.header-top-right .content:hover > a {color: #2d3e50;}
.header-top-right > .content i {font-size: 14px; margin-right: 8px;}
.header-top-right {float: right; padding-top: 23px}
.header-top-right > .content:after {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 2px;
}
.header-top-right > .content:first-child:after {display: none;}
.header-top-right > .content .account-dropdown {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding: 5px 19px 6px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
    width: 125px;
    z-index: -99;
}
.header-top-right > .content:hover .account-dropdown {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;   
}
.account-dropdown a {
    color: #2d3e50;
    display: block;
    padding: 5px 0;
}
.account-dropdown li {display: block;}
/*----------------------------------------*/
/*  2.2 Header Logo Menu
/*----------------------------------------*/
.header-logo-menu.stick {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 999999;
}
.bg-dark.header-logo-menu.stick {background: #3F5771}
.as-mainwrapper.wrapper-boxed .header-logo-menu.stick {
    width: 1200px
}
/*----------------------------------------*/
/*  2.2.1 Header Logo
/*----------------------------------------*/
.logo > a {display: inline-block; position: relative; z-index: 8}
.logo {padding-top: 38px;}
.header-logo-menu.stick .logo {padding: 23px 0;}
/*----------------------------------------*/
/*  2.2.2 Header Mainmenu
/*----------------------------------------*/
.mainmenu {display: inline-block !important; position: relative; z-index: 99}
.mainmenu-area {
    margin-top: 10px; 
    -webkit-transition: all 0.3s ease 0s; 
    transition: all 0.3s ease 0s;
}
.mainmenu-area .border-top {
	border-top: 0 !important;
}
.header-logo-menu.stick .mainmenu-area .mainmenu ul#nav > li > a {line-height: 96px}
.header-logo-menu.stick .mainmenu-area {padding: 0; margin: 0;}
.mainmenu ul#nav > li {
    display: inline-block;
    margin-right: 24px;
    position: relative;
}
.mainmenu ul#nav > li > a {
    color: #2d3e50;
    display: block;
     font-family: "Raleway";
    font-size: 15px;
    line-height: 109px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-weight: 600;
}
.mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after  {
    bottom: 43px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.header-logo-menu.stick .mainmenu ul#nav > li > a:after {
  bottom: 38px;
}
.mainmenu ul#nav.menu-white > li:hover > a:after {background: #2d3e50 }
.mainmenu ul#nav > li:hover > a:after, .mainmenu ul#nav.menu-white > li:hover > a:after{width: 21px}

.mainmenu ul#nav.menu-white > li > a {color: #fff;}
.header-logo-menu.stick .mainmenu ul#nav.menu-white > li > a {color: #2d3e50;}
.mainmenu ul#nav.menu-white > li:hover > a, .stick .mainmenu ul#nav.menu-white > li:hover > a {color: #2d3e50}
.mainmenu li > a > i {
    margin-left: 6px;
    position: relative;
    top: -1px;
}
.lg-space .mainmenu ul#nav > li {margin-right: 36px;}
.mainmenu ul#nav.border-full > li:hover > a:after {width: 100%}
.mainmenu ul#nav.border-top > li > a:after {bottom: auto; top: 30px}
.mainmenu ul#nav.border-top-2 > li > a:after {bottom: auto; top: -9px}
.padding-small .logo {padding-top: 20px}
.padding-small .mainmenu ul#nav > li > a {line-height: 82px}
/*------------------------------------------*/
/*  Dropdown Menu
/*------------------------------------------*/
.mainmenu ul.sub-menu, .mainmenu ul.sub-menu ul.inside-menu {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    left: -23px;
    margin: 0;
    padding: 14px 21px 16px;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 190px;
    z-index: -99;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu ul#nav li ul.sub-menu > li  {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
.mainmenu ul#nav li ul.sub-menu > li a, .mega-menu a {
    color: #2d3e50;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 33px;
    text-transform: capitalize;
    font-weight: 600;
}
.mainmenu li > .sub-menu i {
    float: right;
    font-size: 17px;
    top: 10px;
}
.mainmenu ul#nav li:last-child, .header-two .mainmenu ul#nav li:last-child {margin-right: 0}
.mainmenu > nav > ul#nav > li:hover ul.sub-menu, .mainmenu ul.sub-menu li:hover ul.inside-menu {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;
}
.mainmenu ul.sub-menu ul.inside-menu {
    left: 169px;
    top: -2px;
    width: 195px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu ul.sub-menu li:hover ul.inside-menu {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    z-index: 9999;
}
.fixed {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}
/*----------------------------------------*/
/*  Megamenu
/*----------------------------------------*/
.mega-menu {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    left: -23px;
    margin: 0;
    padding: 26px 21px 20px;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: -99;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
}
.mainmenu nav > ul > li:hover .mega-menu {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9999;
}
.mega-menu h3 {
    color: #2d3e50;
     font-family: "Raleway";
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: relative
}
.mega-menu h3:after {
    background: #909090 none repeat scroll 0 0;
    bottom: 8px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 25px;
}
.mm-5-column {
    left: -445px;
    width: 790px;
}
.mm-4-column {
  width: 650px;
  left: -305px;
}
.mm-3-column {
  left: -187px;
  width: 532px;
}
.col-2{width: 50%}
.col-3{width: 33.333%}
.col-4{width: 25%}
.col-5{width: 20%}
/*----------------------------------------*/
/*  2.2.3 Header Searchbox
/*----------------------------------------*/
.header-search {
    cursor: pointer;
    display: inline-block;
    margin-left: 18px;
}
.search {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 0;
    margin-right: 15px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 119px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: height;
    transition-property: height;
    width: 290px;
    z-index: 9999;
}
.search.open {height: 50px}
.search-form {
    background-color: #ffffff;
    border-top: 1px solid #86bc42;
    float: right;
    width: 290px;
}
.padding-small .search {
  top: 92px;
}
.search-menu {
    display: inline-block;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.search-menu:hover {background: #2D3E50 none repeat scroll 0 0;}
.bg-blue {background: #2D3E50}
#search-form {overflow: hidden; position: relative;}
#search-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    height: 48px;
    padding: 0 40px 0 15px;
    width: 100%;
}
.search-form input[type="search"] {
    border: medium none;
    float: left;
    background: transparent;
    font-size: 24px
}
.search-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    font-size: 18px;
    height: 50px;
    line-height: 48px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}
.search-form button[type="submit"]:hover {color: #2D3E50}
.search-menu i#toggle-search {color: #ffffff; font-size: 16px;}
.header-logo-menu.stick .search {top: 96px}
/*----------------------------------------*/
/*  2.2.4 Mobile Menu
/*----------------------------------------*/
.mobile-menu-area {background: #2d3e50 none repeat scroll 0 0; display: none;}
.mean-container .mean-bar:after {display: none}
.mean-container .mean-nav ul li a:hover {background: #fff;}
.mean-container a.meanmenu-reveal span {background: #ffffff none repeat scroll 0 0;}
.mean-container .mean-nav ul li a {
    background: #ffffff none repeat scroll 0 0;
    color: #2D3E50;
    display: block;
}
.mean-container .mean-nav ul li a.mean-expand {background: none; top: -4px;}
.mean-container .mean-nav ul li a.mean-expand:hover {background: none}
.mean-container .mean-nav ul li {background: transparent}
.mean-container .mean-nav ul li li a {
    color: #4e4f54;
    opacity: .90;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    border-top: 0;
}
.mean-container a.meanmenu-reveal:hover span {background: #fff}
.mobile-menu-area .mean-nav {background: #2d3e50 none repeat scroll 0 0}
.mean-last {margin-bottom: 20px}
.mobile-menu {position: relative}
.mean-container .mean-bar:before {
    color: #fff;
    content: "MENU";
    font-size: 18px;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 13px;
}
/*----------------------------------------*/
/*  3. Slider Area
/*----------------------------------------*/
.slider-area, .background-area, .overlay-light-fullwidth, .overlay-light-2-fullwidth, .overlay-dark-fullwidth, .overlay-dark-2-fullwidth {
    position: relative;
    overflow: hidden
}
.slider-area::after, .overlay-light-fullwidth::after, .overlay-light-2-fullwidth::after, .overlay-dark-fullwidth::after, .overlay-dark-2-fullwidth::after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(21.5deg) scale(1.5);
    transform-origin: 0 bottom 0;
    width: 64%;
    z-index: 2;
    background: rgba(134, 188, 66, 0.6) none repeat scroll 0 0;
}
.overlay-light-fullwidth::after, .overlay-light-2-fullwidth::after, .overlay-dark-fullwidth::after, .overlay-dark-2-fullwidth::after {
    transform: none
}
.overlay-light-fullwidth:after {
    width: 100%
}
.overlay-light-2-fullwidth:after {
    width: 100%;
    background: rgba(134, 188, 66, 0.4) none repeat scroll 0 0;
}
.overlay-dark-fullwidth:after {
    background: rgba(45, 62, 80, 0.4) none repeat scroll 0 0;
    width: 100%
}
.overlay-dark-2-fullwidth:after {
    background: rgba(45, 62, 80, 0.6) none repeat scroll 0 0;
    width: 100%
}
.nivo-caption {z-index: 9;}
.banner-content, .banner-content .container, .banner-content .row, .banner-content .col-md-12, .banner-content .text-content-wrapper, .banner-content .text-content {
    height: 100%;
    margin: auto;
}
.banner-content .text-content-wrapper {
    display: table;
    float: right;
    margin-right: -23px;
}
.banner-content .text-content-wrapper.full-width {float: none; margin: auto; z-index: 9; position: relative}
.slider-area .text-content, .background-area .text-content, .table-cell {display: table-cell; vertical-align: middle;}
.banner-content h1 {
    color: #ffffff;
    font-size: 60px;
    line-height: 64px;
    padding-bottom: 41px;
    position: relative;
}
.slider-area .banner-content h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInUp;
        animation: 1500ms ease-in-out 0s normal none 1 running fadeInUp;
}
.banner-content h1:after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 15px;
    content: "";
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 66%;
}
.banner-content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
}
.button-default {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-family: "Raleway";
    font-size: 14px;
    margin: 0;
    padding: 15px 35px;
    text-transform: uppercase;
}
.button-default:hover {color: #fff}
.banner-readmore {
    clear: both;
    display: inline-block;
    line-height: 48px;
}
.button-green:hover {background: #2D3E50;}
.nivo-directionNav {-webkit-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s}
.preview-2 .nivo-controlNav, .slider-three .preview-2 .nivo-directionNav {display: none; }
.banner-content.static-text {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9;
}
.background-area .button-default {display: inline}
.no-animation.background-area:after, .no-animation.overlay-light-fullwidth:after, .no-animation.overlay-light-2-fullwidth:after, .no-animation.overlay-dark-2-fullwidth:after {
    animation: none
}
.banner-content h1.text-center::after {right: 0; margin: auto}
.banner-content h1.border-none::after, .background-area.overlay-none::after {display: none}
.text-content-wrapper.full-width {margin: auto; float: none}
.preview-2 {position: relative;}
.preview-2 .nivoSlider .nivo-directionNav a.nivo-prevNav, .preview-2 .nivoSlider .nivo-directionNav a.nivo-nextNav {
    font-size: 0;
}
.preview-2 .nivo-directionNav a.nivo-prevNav::before, .preview-2 .nivo-directionNav a.nivo-nextNav::before {
    background: #5A6271;
    border-radius: 50%;
    color: #ffffff;
    content: "";
    cursor: pointer;
    font-family: "Material-Design-Iconic-Font";
    font-size: 50px;
    height: 78px;
    left: 0;
    line-height: 80px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 300ms ease-in 0s;
    width: 80px;
    z-index: 9;
}
.preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before {
    color: #ffffff;
}
.preview-2 .nivo-directionNav a.nivo-nextNav::before {
    content: "";
    left: auto;
    top: 94px;
}
.nivo-directionNav {
    margin-top: -87px;
    position: absolute;
    top: 50%;
    left: 1%
}
.preview-2 .nivo-controlNav {
    bottom: 26px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: inherit;
    z-index: 99;
    display: none
}
.preview-2 .nivo-controlNav a {
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 12px;
    line-height: 10px;
    margin: 0 17px;
    position: relative;
    text-indent: -9999px;
    width: 12px;
}
.preview-2 .nivo-controlNav a::before {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    content: "";
    height: 25px;
    left: -17px;
    margin: auto;
    position: absolute;
    right: -17px;
    top: -7px;
    width: 46px;
}
.preview-2:hover .nivo-controlNav a{opacity: 1; z-index: 999999;}
.nivo-controlNav a.active:before, .nivo-controlNav a:hover:before {border-color: #fff}
.slider-two .preview-2 .nivo-controlNav, .slider-three .preview-2 .nivo-controlNav {display: inline-block}
.slider-area.no-overlay:after {background: rgba(0, 0, 0, 0) none repeat scroll 0 0}
/*----------------------------------------*/
/*  4. About Area
/*----------------------------------------*/
.about-area {
    background-color:#0E192E;
    color: #ffff;
    margin-top: 140px;
    padding-bottom: 54px;
    position: relative;
}
.about-area:before {
    height: 110px;
    left: 0;
    right: auto;
    top: -20px;
    width: 49.2%;
}
.about-area:after {
    border-width: 55px 30px;
    left: 49.2%;
    top: -20px;
    right: auto
}
.about-area h3 {
    font-size: 30px;
    margin-bottom: 79px;
    padding-top: 22px;
    z-index: 9;
    position: relative;
}
.about-area p {
    font-family: "Raleway";
    line-height: 26px;
    margin-bottom: 42px;
}
.about-area img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    width: 200px;
    height: 200px;
}
.about-container {margin-left: 70px;}
.about-area .button-default {padding: 9px 41px;}
.about-container > .button-default:hover {background: #ffffff none repeat scroll 0 0; color: #2d3e50;}
/*----------------------------------------*/
/*  5. Course Area
/*----------------------------------------*/
.course-area .section-title-wrapper {margin-bottom: 122px;}
.single-item-image a {display: inline-block;}
.single-item-image {
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -35px;
}
.overlay-effect a {position: relative}
.overlay-effect a:before {
  background: rgba(45, 62, 80, 0.2) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  right: 0;
  width: 100%;
}
.single-item:hover .overlay-effect a:before {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.single-item {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 0 35px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}
.single-item:hover {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
}
.single-item-text h4 {font-size: 20px; padding-top: 7px;}
.single-item-text h4 a, .single-item-text h4 {color: #2d3e50;}
.single-item-text-info span {
    color: #696969;
    font-family: "Raleway";
    margin-right: 11px;
}
.single-item-text-info span span {color: #2d3e50;}
.single-item-text > p {color: #222222;}
.single-item-content {
    margin-bottom: 44px;
    overflow: hidden;
    padding-top: 21px;
}
.single-item-text-info {margin-bottom: 18px; padding-top: 5px;}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: "Raleway";
    font-size: 12px;
    margin-right: 17px;
}
.single-item-comment-view span:last-child {margin-right: 0}
.single-item-comment-view > span i {font-size: 14px; margin-right: 7px;}
.single-item-comment-view, .single-item-rating {display: inline-block;}
.single-item-rating {
    color: #f3c30b;
    float: right;
    font-size: 16px;
}
.single-item-rating i {margin-left: 3px;}
.single-item .button-default {padding: 8px 33px;}
.button-bottom {margin-bottom: -19.5px; text-align: center;}
.single-item:hover .button-default {background: #2d3e50 none repeat scroll 0 0;}
.button-large.button-default {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.2);
    font-size: 18px;
    margin-top: 83px;
    padding: 12px 18px;
    text-transform: capitalize;
}
.shortcode .button-large.button-default {margin-top: 40px}
.button-default.button-large:hover {background: #2d3e50 none repeat scroll 0 0;}
.button-large.button-default i {
    font-size: 28px;
    line-height: 20px;
    margin-left: 11px;
    position: relative;
    top: 4px;
}
/*----------------------------------------*/
/*  6. Fun Factor Area
/*----------------------------------------*/
.fun-factor-area {
    background: rgba(0, 0, 0, 0) url("../img/banner/2.jpg") repeat scroll 0 0;
    color: #ffffff;
    padding: 100px 0;
}
.single-fun-factor {   font-family: "Raleway"; text-align: center;}
.single-fun-factor > h4 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 41px;
    position: relative;
}
.single-fun-factor > h4:after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -11px;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 77px;
}
.single-fun-factor h2 {font-size: 62px; line-height: 46px;}
/*----------------------------------------*/
/*  7. Latest News Area
/*----------------------------------------*/
.latest-area {padding: 120px 0 70px;}
.single-latest-text > h3 {
    font-family: raleway;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}
.single-latest-item {
    overflow: hidden;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.single-latest-item:hover {box-shadow: 2px 5px 25px rgba(34, 30, 31, 0.25);}
.single-latest-text > h3 a {color: #2d3e50;}
.single-latest-image {float: left;}
.single-latest-image a {display: inline-block}
.single-latest-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    overflow: hidden;
    padding: 30px 0 27px 35px;
}
.single-latest-item .single-item-comment-view span {margin-right: 13px;}
.single-latest-item .single-item-comment-view {
    display: block;
    margin-bottom: 2px;
}
.single-latest-item .button-default {
    font-size: 12px;
    margin-top: 7px;
    padding: 4px 21px;
}
.single-latest-item:hover .button-default {background: #2D3E50 none repeat scroll 0 0;}
/*----------------------------------------*/
/*  8. Online Product Area
/*----------------------------------------*/
.single-product-item {box-shadow: 0 0 8px rgba(34, 30, 31, 0.3);}
.single-product-image {text-align: center;}
.single-product-image img {width: 100%;}
.single-product-text > h4 a {
    color: #4c4c4c;
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}
.single-product-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 23px 24px 22px;
}
.single-product-text h5 {
    color: #696969;
    font-family: "Raleway";
    font-size: 14px;
    margin-bottom: 20px;
}
.product-price > h3 {
    color: #4c4c4c;
    display: inline-block;
    float: left;
    font-size: 24px;
}
.product-price {margin-bottom: 23px; overflow: hidden;}
.product-buttons {overflow: hidden;}
.single-product-text .button-default {
    border: 0 none;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 27px;
    margin-left: 8px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 27px;
    cursor: pointer;
}
.single-product-text .button-default:hover {background: #2d3e50 none repeat scroll 0 0;}
.single-product-text .button-default.cart-btn {
    font-size: 11px;
    line-height: 27px;
    margin-left: 0;
    padding: 0 14px;
    width: auto;
}
.single-product-item:hover .button-default.cart-btn {background: #2d3e50 none repeat scroll 0 0;}
/*----------------------------------------*/
/*  9. Testimonial Area
/*----------------------------------------*/
.testimonial-area {
    background: rgba(0, 0, 0, 0) url("../img/banner/book.jpg") no-repeat scroll 0 0 / cover;
    overflow: hidden;
    padding: 95px 0 82px;
    position: relative;
}
.testimonial-area:before {
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.testimonial-image-slider {margin-top: 5px}
.slick-list {margin: 0 5px}
.sin-testiImage {
    display: inline-block;
    margin-bottom: 11px;
    outline: medium none;
}
.sin-testiImage img {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block !important;
    height: 80px;
    margin-bottom: 30px;
    margin-top: 36px;
    outline: 0 none;
    width: 80px;
}
.sin-testiImage.slick-current img {
    border: 2px solid #fff;
    height: 146px;
    margin-top: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 146px;
}
.testimonial-text-slider h2 {
    color: #ffffff;
    display: block;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
}
.testimonial-text-slider {
    margin: auto;
    padding: 0;
    position: relative;
    width: 51%;
    z-index: 9;
}
.sin-testiText{outline: none}
.sin-testiText p {margin-top: 22px; color: #fff; line-height: 24px}
.slick-prev, .slick-next {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 25px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 34.6%;
    width: 16px;
}
.slick-prev {left: -31px}
.slick-next {right: -31px}
.slick-prev:before, .slick-next:before {
    height: 25px;
    width: 16px;
    left: 0;
    top: 0;
    position: absolute;
    color: #fff;
    content: "";
    font-family: "Material-Design-Iconic-Font";
    font-size: 50px !important;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.slick-next:before {
    right: 0; 
    content: "";
}
.slick-slider {z-index: 9;}
.testimonial-area:hover .slick-prev:before, .testimonial-area:hover .slick-next:before {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
/*----------------------------------------*/
/*  10. Event Area
/*----------------------------------------*/
.single-event-image > a {display: block; position: relative;}
.single-event-image > span {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 96px;
    left: 0;
    position: absolute;
    width: 96px;
}
.single-event-image a > span {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 24px;
    height: 96px;
    left: 0;
    line-height: 35px;
    padding-top: 16px;
    position: absolute;
    width: 96px;
}
.single-event-image span {
    display: block;
    font-family: "Raleway";
    font-size: 42px;
    text-align: center;
}
.single-event-text > h3 a, .single-event-text > h3 {color: #4c4c4c;}
.single-event-text > h3 {
	font-family: "Raleway";
	margin-bottom: 5px;
	font-size: 24px;
}
.single-event-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    padding: 29px 34px 35px;
}
.single-event-item .single-item-comment-view {margin-bottom: 12px;}
.single-event-item .single-item-comment-view span {margin-right: 12px;}
.single-event-item .single-item-comment-view span:last-child {margin-right: 0;}
.single-event-item .button-default {
    margin-top: 16px;
    padding: 6px 23px;
}
.single-event-item:hover .button-default {background: #2d3e50 none repeat scroll 0 0;}
.single-event-item {box-shadow: 0 0 8px rgba(34, 30, 31, 0.3);}
/*----------------------------------------*/
/*  11. Video Ref Area
/*----------------------------------------*/

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    }
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
    .videoresp{height: 249.984px;
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
/*----------------------------------------*/
/*  11. Newsletter Area
/*----------------------------------------*/
.newsletter-area {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    position: relative;
}
.newsletter-area:before {
    height: 148px;
    left: 0;
    right: auto;
    top: -20px;
    width: 44%;
}
.newsletter-area:after {
    border-width: 74.5px 40px;
    left: 44%;
    right: auto;
    top: -20px;
}
.newsletter-content h2, .newsletter-content h3 {font-family: raleway; font-weight: 700; font-size: 30px}
.newsletter-content > h3 {margin-bottom: 2px; font-size: 24px}
.subscribe-form input {
    color: #696969;
    height: 100%;
    padding-left: 15px;
    width: 100%;
    border: 0;
}
.subscribe-form > button {
    border: 2px solid #86bc42;
    font-family: raleway;
    font-weight: 700;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 34%;
    color: #fff;
    cursor: pointer;
}
.subscribe-form > button:hover {
    background: #FFF;
    border: 2px solid #86bc42;
}
.newsletter-form {overflow: hidden; padding: 36px 0;}
.subscribe-form {
    float: right;
    height: 56px;
    position: relative;
    width: 525px;
}
.subscribe-form:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #fff transparent transparent;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 28px 15px;
    content: "";
    height: 5px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 0;
}
.newsletter-content {
    padding-top: 26px;
    z-index: 9;
    position: relative;
}
/*----------------------------------------*/
/*  12. Footer Widget Area
/*----------------------------------------*/
.footer-widget-area {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    padding: 80px 0 65px;
}
.footer-logo > a {display: inline-block;}
.footer-logo {margin-bottom: 24px;}
.social-icons a {
    background: #ffffff none repeat scroll 0 0;
    color: #2d3e50;
    display: inline-block;
    font-size: 20px;
    height: 31px;
    line-height: 30px;
    margin-right: 11px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 31px;
}
.social-icons > a:last-child {margin-right: 0;}
.social-icons > a:hover {color: #ffffff;}
.social-icons {margin-top: 27px;}
.single-footer-widget > h3 {
    font-family: raleway;
    font-weight: 800;
    font-size: 24px;
    line-height: 19px;
    margin-bottom: 37px;
    padding-top: 12px;
    text-transform: uppercase;
}
.single-footer-widget > span {display: block; margin-bottom: 11px;}
.single-footer-widget > span i {font-size: 18px; width: 30px;}
.footer-list a {color: #ffffff; line-height: 25px;}
.instagram-image {padding-top: 5px;}
.footer-img {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.instagram-image .footer-img:nth-child(3), .instagram-image .footer-img:nth-child(6) {margin-right: 0;}
.footer-img a {display: inline-block; position: relative}
.footer-img a:before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.footer-img:hover a:before {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100)}
.footer-img a:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    content: "+";
    font-family: "Raleway";
    font-size: 40px;
    height: 18px;
    left: 0;
    margin: -9px auto 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 18px;
}
.footer-img:hover a:after {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100)}
/*----------------------------------------*/
/*  13. Footer Area
/*----------------------------------------*/
.footer-area {
    color: #ffffff;
    padding: 18px 0;
}
.column-right {float: right}
.footer-area span a {color: #ffffff;}
.footer-area span a:hover {border-bottom: 1px solid #ffffff;}
.single-footer-widget > a {color: #ffffff; display: block; margin-bottom: 11px;}
.single-footer-widget > a:hover i {color: #fff}
.single-footer-widget > a i {font-size: 18px; width: 30px;}
/*----------------------------------------*/
/*  14. Home Two Start
/*----------------------------------------*/
/*----------------------------------------*/
/*  14.1 Home Two Header
/*----------------------------------------*/
.header-two .header-top:before, .header-two .header-top:after {display: none;}
.header-two .header-top-right > span {color: #ededed;}
.header-two .header-top-right {padding-top: 0;}
.header-two .header-top-right span:first-child {margin-right: 27px;}
/*----------------------------------------*/
/*  14.2 Home Two Slider
/*----------------------------------------*/
.slider-area.slider-two:after {
    background: rgba(45, 62, 80, 0.4) none repeat scroll 0 0;
    width: 100%;
    transform: none;
    -webkit-animation: 700ms ease-in-out 0s normal none 1 running slideInLeft;
            animation: 700ms ease-in-out 0s normal none 1 running slideInLeft;
}
.slider-two .nivo-directionNav {display: none;}
.slider-two .banner-content h1 {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running bounceInDown;
        animation: 1000ms ease-in-out 0s normal none 1 running bounceInDown;
}
.slider-three .banner-content h1 {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running flipInX;
        animation: 1000ms ease-in-out 0s normal none 1 running flipInX;
}
.slider-two .banner-content p {
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running bounceInLeft;
        animation: 2000ms ease-in-out 0s normal none 1 running bounceInLeft;
}
.slider-two .banner-content .banner-readmore {
    -webkit-animation: 2500ms ease-in-out 0s normal none 1 running bounceInUp;
        animation: 2500ms ease-in-out 0s normal none 1 running bounceInUp;
}
.slider-three .banner-content .banner-readmore {
    -webkit-animation: 2500ms ease-in-out 0s normal none 1 running flipInY;
        animation: 2500ms ease-in-out 0s normal none 1 running flipInY;
}
.slider-two .banner-content.slider-2 h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running slideInLeft;
        animation: 1500ms ease-in-out 0s normal none 1 running slideInLeft;
}
.slider-two .banner-content.slider-2 p {
    -webkit-animation: 2500ms ease-in-out 0s normal none 1 running fadeInLeftBig;
        animation: 2500ms ease-in-out 0s normal none 1 running fadeInLeftBig;
}
.slider-two .banner-content.slider-2 .banner-readmore {
    -webkit-animation: 3000ms ease-in-out 0s normal none 1 running zoomInUp;
        animation: 3000ms ease-in-out 0s normal none 1 running zoomInUp;
}
.slider-two .preview-2 .nivo-controlNav {
    display: block;
    z-index: 99;
    padding: 0;
}
/*----------------------------------------*/
/*  14.3 Home Two Newsletter
/*----------------------------------------*/
.newsletter-two:before, .newsletter-two:after {display: none;}
.newsletter-two .subscribe-form > button {
    background: #2d3e50 none repeat scroll 0 0;
    border-color: #2D3E50;
    float: right;
    font-family: "Raleway";
    font-size: 14px;
    line-height: 26px;
    margin-left: 39px;
    position: inherit;
    width: 160px;
    cursor: pointer;
}
.newsletter-two .subscribe-form > button:hover {
    background: #FFF;
    border-color: #FFF;
}
.newsletter-two .subscribe-form > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    float: left;
    width: 366px;
}
.newsletter-two .subscribe-form:before {display: none;}
.newsletter-two .subscribe-form {height: 41px; width: auto;}
.newsletter-two .newsletter-form {padding-bottom: 38px; padding-top: 44px;}
.newsletter-two .newsletter-content {padding-top: 31px;}
/*----------------------------------------*/
/*  15. Shop Grid Page
/*----------------------------------------*/
.shop-grid-area .single-product-item {margin-bottom: 60px;}
.shop-grid-area .col-md-3:nth-child(9) .single-product-item, .shop-grid-area .col-md-3:nth-child(10) .single-product-item, .shop-grid-area .col-md-3:nth-child(11) .single-product-item, .shop-grid-area .col-md-3:nth-child(12) .single-product-item {
    margin-bottom: 0;
}
.pagination-content {
	display: block;
	line-height: 0;
	text-align: center;
}
.pagination-content .pagination {
	margin-bottom: 0;
	display: inline-block;
	padding-left: 0;
}
.pagination li {
	display: inline-block;
}
.pagination-content.number .pagination {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: none;
    margin: 100px 0 20px;
}
.pagination-content.number .pagination li a {
	border: 1px solid #86bc42;
	display: inline-block;
	font-family: raleway;
	font-size: 14px;
	font-weight: 500;
	height: 27px;
	line-height: 24px;
	margin: 0 5px;
	width: 26px;
	vertical-align: middle;
}
.pagination-content.number .pagination li a i {font-size: 20px; line-height: 25px;}
.pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a {
    color: #ffffff;
    box-shadow: 2px 0 20px rgba(34, 30, 31, 0.2);
}
.pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a {
    box-shadow: 2px 0 20px rgba(34, 30, 31, 0.2);
    color: #ffffff;
}
.pagination-content.number .pagination li:first-child a:hover, .pagination-content.number .pagination li:last-child a:hover {
    color: #2d3e50;
}
.product-area .pagination-content.number .pagination {margin: 80px 0 20px;}
/*----------------------------------------*/
/*  16. Product Details Page
/*----------------------------------------*/
.product-details-content {margin: 0 70px; padding: 52px 0 30px;}
.product-details-image {
    box-shadow: 0 0 8px rgba(34, 30, 31, 0.3);
    display: block;
}
.product-details-image img {width: 100%;}
.product-details-content h2 {
    color: #4c4c4c;
    font-family: "Raleway";
    margin-bottom: 6px;
}
.product-name-rating > h5 {
    color: #696969;
    display: inline-block;
    font-family: "Raleway";
    font-size: 18px;
}
.product-details-content p {line-height: 24px;}
.product-name-rating {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 7px;
    padding-bottom: 12px;
}
.qty {
    color: #4c4c4c;
    font-family: "Raleway";
    margin-top: 50px;
}
.input-text.qty {
    border: 1px solid #4c4c4c;
    height: 22px;
    margin-left: 8px;
    margin-top: 0;
    text-align: center;
    width: 29px;
}
.product-details-content .p-price {color: #4c4c4c; padding-top: 18px;}
.product-details-content .button-default {
    border: 0 none;
    margin: 13px 0 55px;
    padding: 8px 29px;
    cursor: pointer;
}
.product-details-content .button-default:hover {background: #2d3e50 none repeat scroll 0 0;}
.product-details-content .social-links {
    display: block;
    margin-top: 16px;
    position: inherit;
    text-align: left;
}
.product-details-content > span {display: block;}
.product-details-content form > span {
    color: #4c4c4c;
    display: block;
    font-family: "Raleway";
    font-size: 18px;
}
.product-details-content .social-links a:first-child {margin-left: 0;}
/*----------------------------------------*/
/*  17. Course Page
/*----------------------------------------*/
.course-page {padding-top: 154px;}
.form-container {
    background: rgba(0, 0, 0, 0) url("../img/banner/5.jpg") no-repeat scroll center top;
    color: #555454;
    font-family: "Raleway";
    font-size: 12px;
    margin: -60px 0 0;
    overflow: hidden;
    padding: 38px 64px;
    position: relative;
    z-index: 3;
}
.form-container:after {
    background: rgba(134, 188, 66, 0.85) none repeat scroll 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.box-select {z-index: 9; position: relative}
.select {
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}
.select.large {width: 260px;}
.select.small {width: 190px;}
.select.medium {width: 200px;}
.select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #ffffff url("../img/icon/arrow.png") no-repeat scroll 92% 50%;
    border: medium none;
    cursor: pointer;
    height: 42px;
    padding: 0 16px;
    width: 100%;
    font-size: 13px;
}
.form-container > button {
    background: #2d3e50 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    float: right;
    line-height: 42px;
    padding: 0 28px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 99;
}
.course-page .single-item {margin-bottom: 178px;}
.course-page.shortcode .single-item {margin-bottom: 78px;}
.course-page .col-md-4:nth-child(4) .single-item, .course-page .col-md-4:nth-child(5) .single-item , .course-page .col-md-4:nth-child(6) .single-item {
    margin-bottom: 83px;
}
.course-page .pagination-content .pagination {margin-bottom: 0;}
/*----------------------------------------*/
/*  Reglas Area
/*----------------------------------------*/
.regla_cod{
    font-weight: 600;
}
.nav_cod{
    font-size: larger;
}
.text-regla{
    font-size: 15px;
}

/*----------------------------------------*/
/*  17.1 Teachers Area
/*----------------------------------------*/
.teachers-area {padding: 0 0 140px;}
.single-teacher-item {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
.single-teacher-item:hover {box-shadow: 0 6px 20px rgba(34, 30, 31, 0.3);}
.single-teacher-image > a {display: inline-block; position: relative;}
.single-teacher-image > a img, .single-teacher-image > a {width: 100%;}
.single-teacher-image > a:after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.single-teacher-item:hover .single-teacher-image > a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.single-teacher-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 20px 26px 90px;
    text-align: center;
}
.single-teacher-item:hover .single-teacher-text {
    margin-top: -45px;
    padding: 20px 26px 66px;
    position: relative;
    z-index: 9;
}
.single-teacher-text > h3 {
	font-family: raleway;
	font-weight: 600;
	margin-bottom: 4px;
	padding-top: 20px;
	font-size: 24px;
}
.single-teacher-item:hover .single-teacher-text > h3 {padding-top: 0;}
.single-teacher-text > h3 a {color: #222222;}
.single-teacher-text > h4 {font-family: raleway; font-weight: 500;}
.single-teacher-text > p {display: none; padding-top: 13px;}
.single-teacher-item:hover .single-teacher-text p {display: block;}
.social-links > a {
    border: 1px solid #2d3e50;
    border-radius: 50%;
    color: #2d3e50;
    display: inline-block;
    font-size: 14px;
    height: 27px;
    line-height: 25px;
    margin: 0 3px;
    text-align: center;
    width: 27px;
}
.social-links > a:hover {color: #ffffff;}
.social-links {
    bottom: 38px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s
}
.single-teacher-item:hover .social-links {bottom: 25px;}
.single-course-details {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    margin-bottom: 80px;
    padding: 33px 0;
}
.single-course-details .single-item-text {padding-right: 48px;}
.course-details-area a img {margin-left: -35px;}
.single-course-details a {display: block;}
.single-course-details .col-md-6:first-child {padding-right: 3px;}
/*----------------------------------------*/
/*  18. Course Details Page
/*----------------------------------------*/
/*----------------------------------------*/
/*  18.1 Course Details Content
/*----------------------------------------*/
.course-details-content {margin-left: 70px;}
.single-course-details .single-item-text h4 {
    font-size: 24px;
    margin-bottom: 2px;
    padding-top: 32px;
}
.single-course-details .single-item-text-info {margin-bottom: 23px;}
.course-text-content p:first-child {margin-bottom: 21px;}
.single-course-details .single-item-content {margin-bottom: 0; padding-top: 31px;}
.course-duration {   font-family: "Raleway"; text-transform: capitalize;}
.duration-title {
    color: #ffffff;
    font-size: 18px;
}
.duration-text {background: #f6f6f6 none repeat scroll 0 0; color: #4c4c4c;}
.course-duration .text {
    border-bottom: 1px solid #86bc42;
    display: block;
    padding: 15px 0;
}
.course-duration .text span {
    display: inline-block;
    text-align: center;
    width: 192px;
}
.course-duration .text span.text-right {
	border: 0 none;
	display: inline-block;
	float: right;
	padding: 0;
	text-align: center !important;
	width: 240px;
}
.comments {
    color: #4c4c4c;
    overflow: hidden;
    padding: 78px 15px 20px 0;
}
h4.title {
    color: #4c4c4c;
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 27px;
    padding-bottom: 10px;
    position: relative;
}
h4.title:after {
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 73px;
}
.single-comment {margin-bottom: 31px; overflow: hidden;}
.author-image {
    border: 2px solid #eaeaea;
    border-radius: 2px;
    float: left;
    height: 67px;
    margin-right: 23px;
    width: 67px;
}
.comment-text {
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    padding-bottom: 8px;
}
.author-info > h4 {
    display: inline-block;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}
.author-info > h4 a{color: #4c4c4c}
.comment-time, span.reply {
    float: right;
    font-family: "Raleway";
    line-height: 22px;
}
span.comment-time {padding-right: 3px; position: relative;}
.comment-text > p {line-height: 20px; padding-top: 5px;}
.single-comment.comment-reply {padding-left: 131px;}
.comments .single-comment:last-child {margin-bottom: 0;}
/*----------------------------------------*/
/*  18.2 Course Details Sidebar
/*----------------------------------------*/
.tution-fee {
    color: #ffffff;
    padding: 11px 0;
    text-align: center;
}
.tution-wrapper {
    background: #f6f6f6 none repeat scroll 0 0;
    margin-bottom: 15px;
    overflow: hidden;
}
.sidebar-widget .single-teacher-text {padding: 20px 0 32px; position: inherit;}
.tutor-image {padding-top: 37px; text-align: center;}
.tutor-image > img {border: 2px solid #86bc42; border-radius: 50%;}
.sidebar-widget .single-teacher-text > h3 {
    font-family: "Raleway";
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
    padding-top: 0;
}
.sidebar-widget .single-teacher-text > h3 a {color: #2d3e50;}
.sidebar-widget .single-teacher-text > p {
    display: block;
    font-size: 12px;
    line-height: 22px;
    padding: 14px 20px 0;
}
.single-sidebar-widget .social-links {padding-top: 10px; position: inherit;}
.single-sidebar-widget h4.title {font-size: 18px; margin-bottom: 25px;}
.single-sidebar-widget h4.title:after {bottom: 1px;}
.single-sidebar-widget {margin-bottom: 62px; overflow: hidden;}
.single-sidebar-widget:last-child {margin: 0;}
.single-sidebar-widget .tags li:last-child a {margin-bottom: 0}
.single-sidebar-widget .tags li a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #4c4c4c;
    color: #4c4c4c;
    float: left;
    margin-bottom: 13px;
    margin-right: 6px;
    padding: 1px 9px;
}
.single-sidebar-widget .tags li a:hover {
    color: #fff
}
.single-sidebar-widget .single-item:hover {box-shadow: none;}
.single-sidebar-widget .single-item {
    background: #f6f6f6 none repeat scroll 0 0;
    margin-top: 52px;
    padding: 0 26px;
    border-bottom: 2px solid #86bc42;
}
.single-sidebar-widget .single-item-image img {margin: 0;}
.single-sidebar-widget .single-item-text > h4 {font-size: 14px;}
.single-sidebar-widget .single-item-text-info {
    font-size: 12px;
    margin-bottom: 8px;
    padding-top: 2px;
}
.single-sidebar-widget .single-item-image {top: -26px;}
.single-sidebar-widget .single-item-text > p {color: #4c4c4c; font-size: 12px;}
.single-sidebar-widget .single-item-content {margin-bottom: 27px; padding-top: 5px;}
.single-sidebar-widget .single-item .button-default {font-size: 12px; padding: 6px 34px;}
.single-sidebar-widget .button-bottom {margin-bottom: -18px;}
/*----------------------------------------*/
/*  19. Event Page
/*----------------------------------------*/
.breadcrumb-banner-area {
    background: rgba(0, 0, 0, 0) url("../img/banner/4.jpg") no-repeat scroll 0 0;
    color: #ffffff;
    padding: 110px 0;
    position: relative;
}
.breadcrumb-banner-area.fixed-bg {background: url("../img/slider/3.png") no-repeat fixed top center / cover}
.breadcrumb-banner-area.no-bg {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.breadcrumb-text {z-index: 9; position: relative;}
.breadcrumb-banner-area:after {
    background: rgba(45, 62, 80, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.breadcrumb-bar .breadcrumb {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	line-height: 12px;
	margin-bottom: 0;
	padding: 15px 0 0;
	justify-content: center;
}
.breadcrumb-bar .breadcrumb.text-left {
	justify-content: flex-start;
}
.breadcrumb-bar .breadcrumb.text-right {
	justify-content: flex-end;
}
.breadcrumb-text h1 {
    line-height: 25px;
    padding-bottom: 51px;
    text-transform: uppercase;
    position: relative;
    font-size: 36px
}
.breadcrumb-text h1:after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 29px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 2px;
}
.breadcrumb-bar li {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 12px;
    line-height: 12px;
    margin: 0 16px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb.text-left li {
    margin-left: 0;
    margin-right: 34px;
}
.breadcrumb.text-right li {
    margin-right: 0;
    margin-left: 34px;
}
.breadcrumb-text h1.text-left, .breadcrumb-text h1.text-right {padding-bottom: 22px;}
.breadcrumb-text h1.text-left::after, .breadcrumb-text h1.text-right::after {display: none;}
.breadcrumb-bar .breadcrumb > li:first-child:before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    font-family: "Material-Design-Iconic-Font";
    font-size: 18px;
    position: absolute;
    right: -22px;
    top: -2px;
}
.breadcrumb-bar .breadcrumb > li + li:before {display: none;}
.breadcrumb-bar a {color: #ffffff;}
.event-page .single-event-item, .latest-page .single-latest-item {margin-bottom: 50px;}
.pagination-content .pagination {
    border-radius: 0;
    box-shadow: 2px 0 20px rgba(34, 30, 31, 0.2);
    margin: 20px 0 17px;
}
.s-content {
    display: block;
    line-height: 0;
    text-align: center;
}
.pagination-content .pagination > li:last-child > a, .pagination-content .pagination > li:last-child > span, .pagination-content .pagination > li:first-child > a, .pagination-content .pagination > li:first-child > span {
    border-radius: 0;
}
.pagination-content .pagination li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 28px;
    height: 41px;
    line-height: 41px;
    margin: 0 14px;
    padding: 0;
    width: 48px;
    display: block;
}
.pagination-content .pagination li.current > a, .pagination-content .pagination li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #2d3e50;
}
.pagination-content .pagination li:first-child a {margin-left: 0;}
.pagination-content .pagination li:last-child a {margin-right: 0;}
/*----------------------------------------*/
/*  20. Event Details Page
/*----------------------------------------*/
/*----------------------------------------*/
/*  20.1 Event Details Content
/*----------------------------------------*/
.event-details-content .single-event-item {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    padding: 0 35px;
}
.single-event-image img {width: 100%;}
.event-details-content .single-event-text h3 {font-size: 28px;}
.event-details-content .single-event-text > p {color: #4e4e4e; line-height: 24px;}
.event-details-content .single-event-text {border: 0 none; padding: 32px 0 40px;}
.event-details-content .comments {padding: 71px 0 20px;}
/*----------------------------------------*/
/*  20.2 Event Details Sidebar
/*----------------------------------------*/
.recent-content-item > a {
    border: 1px solid #86bc42;
    display: inline-block;
    float: left;
}
.recent-text {overflow: hidden; padding-left: 20px;}
.recent-text > h4 {
    font-family: raleway;
    font-size: 14px;
    font-weight: 600;
}
.recent-text > h4 a {color: #6b6b6b;}
.recent-text .single-item-comment-view > span {
    color: #b2b2b2;
    font-size: 11px;
    line-height: 12px;
    margin-right: 13px;
}
.recent-text .single-item-comment-view i {font-size: 13px;}
.recent-text > p {
    color: #6b6b6b;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}
.recent-content-item {margin-bottom: 22px; overflow: hidden;}
.recent-content-item:last-child {margin-bottom: 0;}
.recent-text .single-item-comment-view {display: block;}
/*----------------------------------------*/
/*  21. latest News Page
/*----------------------------------------*/
.latest-page {padding: 120px 0}
/*----------------------------------------*/
/*  22. News Details Page
/*----------------------------------------*/
/*----------------------------------------*/
/*  22.1 News Details Content
/*----------------------------------------*/
.news-details-content .single-latest-text > h3 {
    color: #616161;
    font-size: 24px;
    margin-bottom: 8px;
}
.news-details-content .single-latest-text p {
    color: #4c4c4c;
    line-height: 23px;
    margin-bottom: 23px;
}
.news-details-content .single-latest-text {padding: 75px 72px 0;}
.news-details-content .single-latest-item .single-item-comment-view {margin-bottom: 8px;}
.quote-section {
    background: #efefef none repeat scroll 0 0;
    border-left: 2px solid #86bc42;
    margin: 38px 0 39px 35px;
    overflow: hidden;
    padding: 17px 37px 1px 27px;
}
.quote-section p {margin: 0;}
.related-tag .tags {display: inline-block;}
.related-tag .tags li a {color: #898989;}
.related-tag .tags li {display: inline-block;}
.related-tag, .news-details-content .social-links > span {
    color: #4c4c4c;
    font-family: "Raleway";
    display: inline-block;
}
.news-details-content .single-latest-item:hover {box-shadow: none;}
.tags-and-links {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 50px;
}
.news-details-content .social-links > span {margin-right: 11px;}
.news-details-content .social-links {
    display: inline-block;
    float: right;
    margin-right: 47px;
    position: inherit;
    width: auto;
}
.news-details-content .social-links > a {
    font-size: 13px;
    height: 23px;
    line-height: 21px;
    margin: 0 2px;
    width: 23px;
}
.news-details-content .single-latest-item {margin-bottom: 17px;}
/*----------------------------------------*/
/*  22.2 News Details Sidebar
/*----------------------------------------*/
.comment .recent-content-item > a {
    border: 2px solid #e6e7e8;
    border-radius: 2px;
    height: 70px;
    width: 70px;
}
.comment .recent-content-item > a img {width: 100%;}
.comment .recent-text > h4 a {font-family: "Raleway";}
.comment .recent-text > h4 {line-height: 31px;}
/*----------------------------------------*/
/*  23. Contact Page
/*----------------------------------------*/
.contact-form-area {color: #4c4c4c;}
h4.contact-title {
    color: #4c4c4c;
    font-family: "Raleway";
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-text > p {line-height: 24px; margin-bottom: 9px;}
.contact-text i {font-size: 18px;}
span.c-icon {display: inline-block; float: left;}
span.c-icon i {
    position: relative;
    top: 3px;
    width: 27px;
}
span.c-text {display: inline-block;}
.contact-text {margin-bottom: 75px;}
.link-social > a {
    color: #4c4c4c;
    display: inline-block;
    line-height: 19px;
    margin-right: 27px;
}
.link-social > a i {font-size: 20px;}
.contact-form-area input, .contact-form-area textarea {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 0 none;
    color: #777777;
    font-size: 14px;
    height: 48px;
    margin-bottom: 23px;
    padding: 0 23px;
    width: 100%;
}
.contact-form-area textarea {
    height: 150px;
    padding-top: 13px;
    resize: none;
}
.contact-form-area .button-default {
    border: 0 none;
    font-family: "Raleway";
    padding: 8px 40px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    cursor: pointer;
}
.contact-form-area .button-default:hover {background: #2d3e50 none repeat scroll 0 0;}
/*----------------------------------------*/
/*  24. About Page
/*----------------------------------------*/
.text-scroll{    
    border: 2.5px solid #b0c4de;    
    height: 400px;    
    overflow-y: scroll; 
    padding: 30px;     
}
.background{
    background: #2D3E50 none repeat scroll 0 0;
    color: #ffffff; 
}
.about-page-area .about-text-container p span {
    color: #333333;
    font-family: "Raleway";
    font-size: 14px;
}
.about-page-area .about-us > span {
    color: #444444;
    display: block;
    font-style: italic;
    padding-left: 19px;
    position: relative;
}
.about-page-area .about-us > span:after {
    background: #999999 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 4px;
    position: absolute;
    top: 9px;
    width: 6px;
}
.map-area{
    width: 100%;
    min-height: 350px;
}
.about-page-area .about-text-container > p {color: #555; margin-bottom: 7px;}
.about-page-area .about-us {margin-bottom: 13px;}
.skill-bars .progress {
    background: #ffffff none repeat scroll 0 0;
    height: 6px;
}
.skill-bar-item .progress-bar {
    line-height: 15px;
}
.skill-bar-item .progress {
	border-radius: 0;
	height: 14px;
	margin-bottom: 20px;
}
.skill-bar-item {
    line-height: 16px;
    margin-bottom: 7px;
    overflow: hidden;
}
.skill-bar-item > span {display: block; margin-bottom: 10px;}
.skill-bar-item:last-child {margin: 0;}
.skill-bar-item:last-child .progress {margin: 0;}
/*----------------------------------------*/
/*  25. Shortcode
/*----------------------------------------*/
.shortcode-area {padding: 72px 0 120px;}
.shortcode-area i {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #86bc42;
    border-radius: 50%;
    font-size: 25px;
    height: 60px;
    margin: auto;
    padding: 15px 0;
    text-align: center;
    width: 60px;
}
.shortcode-animation {overflow: hidden; padding: 50px 0 100px;}
.shortcode-animation h3 {
    color: #00aff0;
    font-family: "playfair_displayregular";
    margin: 22px 0;
    text-transform: capitalize;
}
.shortcode-animation img {padding: 22px 45px;}
.shortcode-animation .section-title {padding-bottom: 0; padding-top: 55px;}
.shortcode-area .section-title {
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: left;
}
.shortcode-area .section-title h2 {
    border-bottom: 1px solid #d1d1d1;
    color: #444444;
    display: inline-block;
    font-size: 21px;
    line-height: 30px;
    padding-bottom: 8px;
    text-align: left;
    text-transform: capitalize;
}
.shortcode-area h3 {
    border: 1px dashed #86bc42;
    float: left;
    font-size: 32px;
    margin: 20px 0;
    padding: 27px 0;
    text-align: center;
    text-transform: capitalize;
    width: 70%;
}
.shortcode-area img {padding: 55px 100px 55px 0;}
.dropdown-menu .dividers {border: 0 none; padding: 0;}
/*----------------------------------------*/
/*  26. Scrollup
/*----------------------------------------*/
#scrollUp {
    bottom: 45px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 28px;
    height: 40px;
    line-height: 37px;
    position: fixed;
    right: 12px;
    text-align: center;
    width: 40px;
    z-index: 9999;
}
#scrollUp:hover {background-color: #2D3E50;}
/*----------------------------------------*/
/*  27. Additional CSS
/*----------------------------------------*/
.text-white {color: #fff}
.text-blue, .header-top span.text-blue {color: #2E3F51}
.bg-dark {
	background: #3F5771 !important;
}
.bg-white {background: #fff}
.bg-blue {background: #2E3F51}
.border-green {
    border-top: 3px solid #86bc42;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.border-blue {
    border-top: 3px solid #2E3F51;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.header-top.effect-blue:before {background: #2E3F51}
.header-top.effect-blue:after {border-color: rgba(0, 0, 0, 0) #2E3F51 #2E3F51 rgba(0, 0, 0, 0)}
.inline {display: inline}
#video-bg {width: 100%;}
.video-wrapper, .video-banner {
    height: 570px;
    overflow: hidden;
    position: relative;
}
.video-area {background: url("../img/slider/5.jpg") no-repeat fixed top center / cover }
.fixed-bg-1 {background: url("../img/slider/1.jpg") no-repeat fixed top center / cover }
.fixed-bg-2 {background: url("../img/slider/2.jpg") no-repeat fixed top center / cover }
.backgrount-area {position: relative}
.hover-white.button-default:hover {background: #fff; color: #2E3F51 }
.angle .mailchimp-alerts {padding-left: 150px} 
.text-small {font-size: 13px;}
.text-area p {line-height: 30px;}
.footer-three {background: #2D3E50 none repeat scroll 0 0;}
.footer-info {line-height: 15px;}
.footer-info > span {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 12px;
    margin-right: 14px;
}
.footer-info > span i {
    font-size: 14px;
    margin-right: 11px;
}
.footer-info > span:last-child {margin-right: 0;}
.footer-logo-three > a {
    display: inline-block;
    margin-bottom: 23px;
}
.footer-info-container {border-bottom: 1px solid #e1e1e1;}
.single-footer-widget > h4 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 22px;
    text-transform: uppercase;
}
.footer-widget-list li a {
    color: #ffffff;
    font-weight: 400;
    line-height: 36px;
}
.footer-widget-list li:last-child a {}
.footer-widget-list li a:hover {color: #f5b120;}
.subscribe-container {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    padding: 44px 40px 50px;
}
.subscribe-container > p {
    color: #2D3E50;
    font-weight: 400;
    text-align: center;
    margin-bottom: 33px;
}
.subscribe-container input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: 400;
    width: 100%;
    padding-left: 14px
}
.subscribe-container input::-webkit-input-placeholder {
    color:#fff;
    opacity: 1 !important;
    filter: alpha(opacity=100);
}
.subscribe-container button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    float: right;
    font-size: 14px;
    padding-right: 14px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.subscribe-form-three {
    background: #2D3E50 none repeat scroll 0 0;
    display: block;
    height: 48px;
    line-height: 46px;
    position: relative;
}
.footer-container {
    border-top: 1px solid #e1e1e1;
    padding: 13px 0 10px 0;
}
.footer-container .social-links-three {
    float: right;
    overflow: hidden;
}
.footer-container .social-links-three > a {
    margin-left: 21px;
    margin-right: 0;
    color: #fff
}
.footer-container span {
    color: #ffffff;
    font-weight: 400;
}
.footer-container span a {
    color: #ffffff;
    position: relative;
}
.footer-container span a:hover {border-bottom:  1px solid #fff}
.footer-container span a:hover:after{opacity: 1;filter: alpha(opacity=100)}
.newsletter-area.newsletter-four::before, .newsletter-area.newsletter-four::after {
    display: none;
}
.footer-widget-four .footer-list li a:hover {color: #2D3E50;}
.footer-widget-four .footer-img a::before {
    background: rgba(45, 62, 80, 0.9) none repeat scroll 0 0;
}
.footer-area.footer-four {background: #2D3E50;}
.gallery-img, .gallery-img img {width: 100%; height: 217px;}
.gallery-img {position: relative; overflow: hidden;}
.gallery-img img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out 0s;
    display: block;
    position: relative
}
.gallery-img .hover-effect {
    opacity: 0;
    transition: all 0.5s linear 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0
}
.zoom-icon a {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	z-index: 99;
	width: 50px;
	height: 50px;
	display: block;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	border: 1px solid #fff;
	margin: 0 auto;
}
.zoom-icon a:hover{
    color: #fff;
    border-color: #fff;
}
.gallery-img:hover img {transform: scale(1.5);}
.gallery-img:hover .hover-effect {opacity: 1;}
.gallery-img:hover h2, .gallery-img:hover p {
    opacity: 1;
    transform: scale(1);
}
.mbYTP_wrapper {height: 215px}
.banner-readmore .button-default.button-green:hover{background: #fff}
.header-logo-menu.semi-transparent .mainmenu ul#nav > li:hover > a {color: #fff;}
.header-logo-menu.semi-transparent .mainmenu ul#nav > li:hover > a:after {background: #fff;}
.bg-dark .mainmenu ul#nav > li > a, .bg-dark.stick .mainmenu ul#nav.menu-white > li > a, .bg-dark .mainmenu ul#nav > li:hover > a, .bg-dark.stick .mainmenu ul#nav > li:hover > a {
    color: #fff;
}
.bg-dark .mainmenu ul#nav > li:hover > a:after {background: #fff;}
.block.padding .btn-group {margin-bottom: 22px;}
.btn-toolbar.padding {margin-bottom: 20px;}
.btn-toolbar.padding:nth-last-of-type(1) {margin-bottom: 0;}


/* Home 12 */
 
.welcome-about-area{
    background: #2d3e50;
    position: relative;
    overflow: hidden;
}
.welcome-about-text{
    padding: 180px 0;
}
.welcome-about-text h4{
    color: #86bc42;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 10px;
}
.welcome-about-text h3{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #fff;
}
.welcome-about-text p{
    font-size: 16px;
    margin-top: 13px;
    color: #fff;
}
.welcome-about-text .button-default{
    margin-top: 25px;
    background-color: #86bc42;
}
.welcome-video{
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
}
.welcome-video .video-inner{
    background: url(../img/ec-background/welcome-bg.jpg) no-repeat scroll center/cover;
    height: 100%;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-video .video-inner a{
    position: relative;
    z-index: 1;
}


/* Post */

.post__media .image{
    margin-bottom: 0;
}
.post__info{
    padding: 30px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}
.post__title{
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
}
.post__meta{
    margin-bottom: 10px;
    font-size: 12px;
}
.post__meta span{
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    position: relative;
}
.post__meta span:not(:last-child):before{
    content: "";
    width: 1px;
    height: 10px;
    background: #7c7c7c;
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
}
.post__meta a{
    color: #86bc42;
}
.post__excerpt{
    font-size: 14px;
}
.post__button{
    border: 1px solid #2d3e50;
    padding: 8px 10px;
    text-transform: uppercase;
    display: inline-block;
}
.post__button:hover{
    border: 1px solid #86bc42;
    background-color: #86bc42;
    color: #fff;
}

/* slider*/

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 135px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}

/* Testimonial */

.testimonial__inner{
    margin-top: 80px;
    background: #fff;
    padding: 100px 110px 60px;
    text-align: center;
}
.testimonial__author-img{
    margin-top: -150px;
    justify-content: center;
    display: flex;
}
.testimonial__author-info{
    margin-top: 50px;
    margin-bottom: 20px;
}
.testimonial__author-name{
    font-weight: 700;
    text-transform: uppercase;
}
.testimonial__author-role{
    font-weight: 600;
    color: #86bc42;
}

.grey-bg-image {
    background: url(../img/ec-background/testimonial-bg-10.jpg);
    background-size: cover;
}
.section-ptb {
    padding: 120px 0;
}
.testimonial-carousel{
    position: relative;
}
.testimonial-carousel .slick-dots{
    text-align: center;
    margin-top: 30px;
}
.testimonial-carousel .slick-dots li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
}
.testimonial-carousel .slick-dots li button{
    background: transparent;
    border: 1px solid #2d3e50;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}
.testimonial-carousel .slick-dots li.slick-active button{
    background: #2d3e50;
}