a:hover, .nav-link.node.active , .text-regla:hover, .carousel-style-one.owl-theme .owl-controls .owl-nav div:hover, .button-green:hover, .stick .mainmenu ul#nav.menu-white > li > a, .account-dropdown a:hover, .mainmenu ul#nav > li:hover > a, .mainmenu ul#nav li ul.sub-menu > li:hover > a, .mainmenu ul#nav li ul.sub-menu li ul.inside-menu > li > a:hover, .search-form button[type="submit"], .mean-container .mean-nav ul li a:hover, .mean-container a.meanmenu-reveal, .single-item-text h4 a:hover, .single-latest-text > h3 a:hover, .single-product-text h4 a:hover, .single-event-item:hover h3 a, .subscribe-form > button:hover, .footer-list a:hover, .newsletter-two .subscribe-form > button:hover, .pagination-content.number .pagination li a, .single-teacher-text > h3 a:hover, .author-info > h4 a:hover, span.reply a, .sidebar-widget .single-teacher-text > h3 a:hover, .breadcrumb-bar a:hover, .recent-text > h4 a:hover, .related-tag .tags li a:hover, .link-social > a:hover, .shortcode-area i, .shortcode-area h3, .text-green, .header-top span.text-green, .slick-prev:hover:before, .slick-next:hover:before, .footer-widget-list li a:hover, .footer-container .social-links-three > a:hover  {
  color: #AF4D32;
}
.header-top:before, .about-area:before, .newsletter-area:before, .mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after, .search-menu, .button-default:hover, .button-green, .about-area .button-default, .single-item .button-default, .button-large.button-default, .single-latest-item .button-default, .single-product-text .button-default, .single-event-item .button-default, .subscribe-form > button, .social-icons > a:hover, .footer-area, .newsletter-two, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a, .product-details-content .button-default, .product-details-content .social-links a:hover, .duration-title, h4.title:after, .tution-fee, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .pagination-content .pagination, .news-details-content .social-links a:hover, .contact-form-area .button-default, .skill-bar-item .progress-bar, #scrollUp, .bg-green, .bg-blue:hover, .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before, .slider-three .preview-2 .nivo-controlNav a, .footer-widget-area.footer-widget-four, .social-links > a:hover  {
  background: #AF4D32;
}
#particles-js, #particles-js.bg-color-1 {
    background-color: #AF4D32;
}
.search-form, .single-item, .single-latest-text, .single-product-text, .single-event-text, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .product-details-content .social-links a:hover, .single-teacher-text, .single-course-details, .course-duration .text, .tutor-image > img, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .single-sidebar-widget .single-item, .event-details-content .single-event-item, .recent-content-item > a, .quote-section, .news-details-content .social-links a:hover, .shortcode-area i, .shortcode-area h3, .border-green, .slider-three .nivo-controlNav a.active:before, .slider-three .nivo-controlNav a:hover:before, .social-links > a:hover {
  border-color: #AF4D32;
}

.header-top:after, .about-area:after { 
    border-color: rgba(0, 0, 0, 0) #AF4D32 #AF4D32 rgba(0, 0, 0, 0);
}
.about-area:after, .newsletter-area:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #AF4D32 #AF4D32;
}
.slider-area::after, .overlay-light-fullwidth::after, .overlay-light-2-fullwidth::after {
    background: rgba(175, 77, 50, 0.6) none repeat scroll 0 0;
}
.overlay-light-2-fullwidth:after, .semi-transparent {
    background: rgba(175, 77, 50, 0.4) none repeat scroll 0 0;
}
.header-logo-menu.stick.semi-transparent, .gallery-img, .gallery-img .hover-effect, .single-teacher-image > a:after   {
    background: rgba(175, 77, 50, 0.85) none repeat scroll 0 0;
}
.footer-img a:before {
    background: rgba(175, 77, 50, 0.9) none repeat scroll 0 0;
}
